<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
</head>
<body>

  <ul>
    <li><a href="{% url 'home' %}">Главная</a></li>
    {% for item in menu %}
      {% if not forloop.last %}
        <li><a href="{% url item.url_name %}">{{ item.title }}</a></li>
      {% else %}
        <li class="last"><a href="{% url item.url_name %}">{{ item.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <h1>{{ title }}</h1>

  <ul>
    {% for product in products %}
      {% if product.is_published %}
        <li>
          <h2>{{ product.title }}</h2>
          <p>{{ product.description }}</p>
          <p><a href="{% url 'product' product.id %}">Читать подробнее</a></p>
          {% if not forloop.last %}
            <hr>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>

</body>
</html>
