{% extends "base.html" %}

{% block content %}

<h1>{{ title }}</h1>

{% if posts %}
    <ul class="post-list">
        {% for p in posts %}
            <li>
                <div class="article-panel">
                    <p class="first">Категория: {{ p.cat.name }}</p>
                    <p class="last">Дата: {{ p.time_update|date:"d-m-Y H:i:s" }}</p>
                </div>
                <h2>{{ p.title }}</h2>
                <p>{{ p.description }}</p>
                <a href="{{ p.get_absolute_url }}">Читать подробнее</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Нет доступных продуктов в этой категории.</p>
{% endif %}

{% endblock %}
